<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scerit.test">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:screenOrientation="portrait"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Beecy"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".RecoverPasswordActivity"></activity>
        <activity android:name=".InfoActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".background.BackgroundNotification"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>